<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374546709823-8142jn4dqk14c44nf6p3voa4lmth7av3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374546709823-8142jn4dqk14c44nf6p3voa4lmth7av3</string>
	<key>API_KEY</key>
	<string>AIzaSyATeaLKZ5IIaO1kyz4Zu1LTs10gD8fIR4k</string>
	<key>GCM_SENDER_ID</key>
	<string>374546709823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finaltermProject</string>
	<key>PROJECT_ID</key>
	<string>appdevfinalterm</string>
	<key>STORAGE_BUCKET</key>
	<string>appdevfinalterm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374546709823:ios:9b8c4e79e20d7a0e44e78a</string>
</dict>
</plist>