<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374546709823-i5hulga4sh3564bdputkicsracnhccjc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374546709823-i5hulga4sh3564bdputkicsracnhccjc</string>
	<key>API_KEY</key>
	<string>AIzaSyATeaLKZ5IIaO1kyz4Zu1LTs10gD8fIR4k</string>
	<key>GCM_SENDER_ID</key>
	<string>374546709823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finaltermProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>appdevfinalterm</string>
	<key>STORAGE_BUCKET</key>
	<string>appdevfinalterm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374546709823:ios:ad50a6da53c7c25344e78a</string>
</dict>
</plist>